* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #2B2733;
  font-weight: 300;
}

header {
  width: 100%;
  text-align: center;
}

header,
.activity-section {
  background-color: #46424D;
  color: #CBC9CF;
}

.column1 {
  width: 60%;
  border-right: 2px solid #46424D;
}

.column-title {
  color: #CBC9CF;
  margin: 20px;
}

img {
  height: 20px;
}

main,
.categories,
.timer-input,
.button-container {
  display: flex;
}

h1 {
  padding: 20px;
  font-weight: 400;
}

.categories,
.timer-input {
  justify-content: space-between;
}

.activity-section {
  padding: 30px 80px;
  margin: 20px;
  height: 100%;
}

.box {
  border: 2px solid #CBC9CF;
  border-radius: 5px;
  padding: 10px;
  width: 25%;
  text-align: center;
  margin: 20px 0 50px 0;
}

.study-box:hover,
.study-box.active,
.green {
  color: #B3FD78;
  border: 2px solid #B3FD78;
}

.meditate-box:hover,
.meditate-box.active,
.purple {
  color: #C278FD;
  border: 2px solid #C278FD;
}

.exercise-box:hover,
.exercise-box.active,
.orange {
  color: #FD8078;
  border: 2px solid #FD8078;
}

.to-accomplish {
  width: 100%;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #CBC9CF;
  height: 50px;
  margin-bottom: 20px;
  color: #CBC9CF;
  font-size: 18px;
}

.timer-input {
  width: 100%;
}

.mins input,
.secs input {
  width: 275px;
}

.button-container {
  justify-content: flex-end;
}

.start-button {
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 20px;
  margin-top: 50px;
  color: #46424D;
}

.error  {
  border-bottom: 2px solid #EFB7EC;
  margin-bottom: 8px;
}

.warning {
  color: #EFB7EC;
  margin-bottom: 10px;
}

.warning img {
  height: 12px;
}

.circle {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  justify-content: center;
}

.timer-container {
  flex-direction: column;
}

.timer-container,
.circle {
  display: flex;
  align-items: center;
}

.circle p {
  text-align: center;
  width: 50%;
}

.time {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 40px;
}

h4 {
  margin-top: 40px;
  font-size: 20px;
}
